<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Open+Sans:wght@400;700&display=swap"rel="stylesheet"> 
    <link rel="stylesheet" href="../stylesheets/cadastro.css">
    <title>Document</title>
</head>
<body>
    <section class="container-main"> 
        <div id="parallelogram">
            <ul>
                <li>oi</li>
                <li>td bem</li>
                <li>c vc</li>
                <li>bele</li>
                <li>te</li>
            </ul>
        </div>
        <div class="container-form">
            <form action="" method="get">
                <h1>Conte nos mais sobre você</h1>
                <label for="nome">Nome</label><input type="text" name="nome" id="nome" placeholder="Primeiro Nome">

                <label for="sobrenome">Sobrenome</label><input type="text" name="sobrenome" id="sobrenome" placeholder="Sobrenome">

                <label for="tel">Telefone</label><input type="text" name="tel" placeholder="(xx) 99999-9999">

                <label for="email">Email</label><input type="text" placeholder="Digite o seu email">

                <label for="end">Endereço</label><input type="text" placeholder="Ex: Rua Alberto Noronha">

                <label for="num">Número</label><input type="number" name="num" id="num">

                <label for="cidade">Cidade</label><input type="text" name="cidade" id="cidade">

                <label for="lembrar"><a href="#">Li e aceito os termos</a></label><input type="checkbox" name="lembrar" id="lembrar">

                <input type="search" name="foto" id="foto">

                <input type="submit" value="ENVIAR" id="enviar">
            </form>
        </div>
    </section>
</body>
</html>