<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/codigoEmail.css">
    <link rel="stylesheet" href="esqueciSenha.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <title>Cadastro</title>
</head>
<body>
    <img src="../img/login-form.png" alt="">
    <div id="login-contanier">
        <h1>Informe o código enviado no Email</h1>
        <div id="social-container">
            <div class="primeira-divisao">
                
            </div>
            <div class="segunda-divisao">

            </div>
            <div class="terceira-divisao">

            </div>
            <div class="quarta-divisao">

            </div>
            <div class="quinta-divisao">

            </div>
            <div class="sexta-divisao">

            </div>
        </div>
        <form action="">
            <input type="submit" value="ENVIAR">
        </form>
    </div>
</body>
</html>