<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/confirmacao.css">
    <title>Document</title>
</head>
<body>

    <div id="parallelogram">
        <ul>
            <li><a href="#">Perfil</a></li>
            <li><a href="#">Mostre nos o seu pet</a></li>
            <li><a href="#">Sobre seu Pet</a></li>
            <li><a href="#">Confirmação</a></li>
        </ul>
        <img src="../img/dog-register.png" alt="">
    </div>
    <section class=""> 
        <form action="" method="post">
            <h1>Parabéns por se cadastrar!</h1>
            <p>Seja bem vindo ao nosso clube exclusivo de serviços para pets</p>
            <p>Apartir de agora você poderá entrar em contato com nossos parceiros e fazer orçamentos e atendimentos de forma exclusiva</p>
            <p>Através do nosso sistema encontre o serviço mais proximo, verifique os dia(s) e horário(s) disponíveis e faça seu agendamento</p>
            <fieldset class="div-check">
               <button type="submit">Concluir Cadastro</button>
            </fieldset>
        </form>
    </section>
</body>
</html>