<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/erro404.css">
  <title>IANIMALS</title>
</head>

<body>
  <!-- Header -->

  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Oi amigo, <span></span></h1>
        <h1>Você entrou em uma página não existente e caiu no error <span></span></h1>
        <h1>404 <span></span></h1>
      </div>
    </div>
  </section>
</body>

</html>