<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cada.css">
    <link rel="stylesheet" href="../stylesheets/esqueciSenha.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <title>Cadastro</title>
</head>
<body>
    <img src="../img/login-form.png" alt="">
    <div id="login-contanier">
        <h1>Redefinir senha</h1>
        <div id="social-container">
            <div class="redes">
               <p>Insira o endereço de e-mail. Você receberá uma mensagem de e-mail com as instruções necessárias para redefinir a senha.</p> 
            </div>
        </div>
        <form action="">
            <input type="email" name="email" id="email" placeholder="Digite o seu email">
            <a href="../codigoEmail/codigoEmail.html" class="botao-enviar">Enviar</a>
        </form>
        <p class="voltar"><a href="../login/login.html">Voltar</a></p>
    </div>
</body>
</html>