<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A definir</title>
    <link rel="stylesheet" href="../stylesheets/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="header">
        <div class="
      logo-header">
        <h1>LOGO</h1>
      </div>
      <div class="opcoes-header">
        <a href="">Home</a>
        <a href="">Sobre</a>
        <a href="">Serviços</a>
        <a href="">Contato</a>
      </div>
      <div class="registro-header">
        <a href="login.ejs" class="login"> <img src="../img/coolicon.png" alt=""> Login</a>
      </div>
    </div>
</header>
    <section>
        <div class="geral">
            <div class="lado-esquerdo">
                <div><h1>Cuidamos do seu pet como se fosse nosso</h1></div>
                <div><p>A vida de humanos e animais estão profundamente conectadas de diversas maneiras. Nós sabemos que   quando os animais estão saldaveis, seus donos também estao</p></div>
                <div class="botao">
                    <div class="nossos-servicos dentro"><a href=""><h2>Nossos serviços</h2></a></div>
                    <div class="saiba-mais"><a href=""><h2>Saiba Mais</h2></a></div>
                </div>
            </div>
            <div class="lado-direito">
                <img src="../img/mulher&dog.png" width="500px" height="500px" alt="">
            </div>
        </div>
    </section>
    <section class="banner">
        <h1>SOBRE NÓS</h1>
    </section>
    <section class="wrap">
            <div class="parte-texto">
                <h2>NOSSOS SERVIÇOS</h2>
                <h1>Produtos e serviços  que amamos</h1>
                <h3>Produtos e serviços personalizados que cabem no seu dia-a-dia</h3>
            </div>
        <div class="parte-divisoes">
            <div class="primeiro">
                <img src="img/vacina.png" alt="">
                <h3>Vacinação</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et fermentum nibh, in elementum quam. </p>
            </div>
            <div class="segundo">
                <img src="img/pet-food.png" alt="">
                <h3>Pet Care</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et fermentum nibh, in elementum quam. </p>
            </div>
            <div class="terceiro">
                <img src="img/pet-shop 1.png" alt="">
                <h3>Hotel Pet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et fermentum nibh, in elementum quam. </p>
            </div>
            <div class="quarto">
                <img src="img/pet.png" alt="">
                <h3>Banho & Tosa</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et fermentum nibh, in elementum quam. </p>
            </div>
            <div class="quinto">
                <img src="img/walk-the-pet.png" alt="">
                <h3>Pet Walk</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et fermentum nibh, in elementum quam. </p>
            </div>
            <div class="sexto">
                <img src="img/veterinary 1.png" alt="">
                <h3>Veterinário</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et fermentum nibh, in elementum quam. </p>
            </div>
        </div>
    </section>
    <section id="testmony-container">
        <div class="wrapper">		
            <h2>VEJA O QUE NOSSOS CLIENTES DIZEM</h2>
            <p class="p-center">Aqui temos alguns depoimentos de nossos clientes sobre os serviços que proporcionamos, vem dar uma olhada!.</p>
            <div class="testmony-box">
                <p class="testmony-msg">Amei, serviços muito rápidos e prestativos, com um clique eu consegui todas as roupinhas para a minha gata!</p>
                <img src="img/avatar1.png">
                <p class="testmony-name">João</p>
            </div>
            <div class="testmony-box">
                <p class="testmony-msg">Meu cachorrinho estava com as vacinas atrasadas, e através do site eu consegui o melhor pet shop mais próximo de casa!.</p>
                <img src="img/avatar2.png">
                <p class="testmony-name">Maria</p>
            </div>
            <div class="testmony-box">
                <p class="testmony-msg">Precisei fazer uma viagem e consegui achar um hotel muito bom para o meu cachorro. Incrivél!!!</p>
                <img src="img/avatar3.png">
                <p class="testmony-name">Pedro</p>
            </div>
            <div class="testmony-box">
                <p class="testmony-msg">Minha cachorrinha voltou linda da tosagem, muito obrigada!!.</p>
                <img src="img/avatar4.png">
                <p class="testmony-name">Alexia</p>
            </div>
        </div>
    </section>
    <footer>
        <div class="divisoes-footer">
                <div class="primeiro-footer">
                    
                </div>
                <div class="segundo-footer">
                    <h3>Serviços</h3>
                    <nav>                       
                        <a href="#">Vacinação</a>
                        <a href="#">Pet Care</a>
                        <a href="#">Hotel Pet</a>
                        <a href="#">Banho e Tosa</a>
                        <a href="#">Pet Walk</a>
                        <a href="#">Home Visit</a>
                    </nav>
                   
                </div>
                <div class="terceiro-footer">
                    <h3>Sobre</h3>
                    <nav>
                        <a href="#">Parceiros</a>
                        <a href="#">Serviços</a>
                        <a href="#">Comunidade</a>
                    </nav>
                </div>
                <div class="quarto-footer">
                    <h3>Novidades</h3>
                    <label for="Email">Email:</label>
                    <br>
                    <input type="email" name="email" id="email" placeholder="Digite seu email">
                    <br>
                    <button>Enviar</button>
                    <nav class="redes-sociais">
                        <img src="login/icone-do-facebook.png" alt="" width="30px" height="30px">
                        <img src="login/icone-do-instagram.png" alt="" width="30px" height="30px">
                        <img src="login/gmail.png" alt="" width="30px" height="30px">
                    </nav>                    
                </div>
        </div>
    </footer>
</body>
</html>