<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/estilo.css">
  <title>IANIMALS</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>I</span>ANIMALS</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home">Home</a></li>
            <li><a href="#services" data-after="Depoimentos">Depoimentos</a></li>
            <li><a href="#projects" data-after="Serviços">Serviços</a></li>
            <li><a href="#about" data-after="Sobre">Sobre</a></li>
            <li><a href="login" data-after="Login">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Olá, <span></span></h1>
        <h1>Seja bem vindo á <span></span></h1>
        <h1>IANIMALS <span></span></h1>
        <a href="#projects" type="button" class="cta">Nossos Serviços</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->

  <!-- Service Section -->
  <section id="services">
    <div class="services container">
      <div class="service-top">
        <h1 class="section-title">Depo<span>i</span>mentos</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum deleniti maiores pariatur assumenda quas
          magni et, doloribus quod voluptate quasi molestiae magnam officiis dolorum, dolor provident atque molestias
          voluptatum explicabo!</p>
      </div>
      <div class="service-bottom">
        <div class="service-item">
          <div class="icon"><img src="img/avatar1.png" /></div>
          <h2>Luiz Felipe</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis debitis rerum, magni voluptatem sed
            architecto placeat beatae tenetur officia quod</p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="img/avatar2.png" /></div>
          <h2>Ana Souza</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis debitis rerum, magni voluptatem sed
            architecto placeat beatae tenetur officia quod</p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="img/avatar3.png" /></div>
          <h2>Diego Barbosa</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis debitis rerum, magni voluptatem sed
            architecto placeat beatae tenetur officia quod</p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="img/avatar4.png" /></div>
          <h2>Leticia Rocha</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis debitis rerum, magni voluptatem sed
            architecto placeat beatae tenetur officia quod</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service Section -->

  <!-- Projects Section -->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">Nossos <span>Serviços</span></h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1><img src="img/pet-shop 1.png" alt=""></h1>
            <h2>Pets Shops</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum impedit unde
              rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque libero non sunt
              harum? Ipsum repellat animi, fugit architecto voluptatum odit et!</p>
          </div>
          <div class="project-img">
            <img src="./img/fundoDepoimentos.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1><img src="img/vacina.png" alt=""></h1>
            <h2>Vacinação</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum impedit unde
              rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque libero non sunt
              harum? Ipsum repellat animi, fugit architecto voluptatum odit et!</p>
          </div>
          <div class="project-img">
            <img src="./img/banner3.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1><img src="img/veterinary 1.png" alt=""></h1>
            <h2>Veterinário</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum impedit unde
              rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque libero non sunt
              harum? Ipsum repellat animi, fugit architecto voluptatum odit et!</p>
          </div>
          <div class="project-img">
            <img src="./img/adorable-white-bulldog-puppy-portrait-social-banner.jpg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1><img src="img/walk-the-pet.png" alt=""></h1>
            <h2>Passeadores</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum impedit unde
              rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque libero non sunt
              harum? Ipsum repellat animi, fugit architecto voluptatum odit et!</p>
          </div>
          <div class="project-img">
            <img src="./img/mulherEdog (2).png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1><img src="img/pet.png" alt=""></h1>
            <h2>Rações e Cosméticos</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum impedit unde
              rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque libero non sunt
              harum? Ipsum repellat animi, fugit architecto voluptatum odit et!</p>
          </div>
          <div class="project-img">
            <img src="./img/vista-frontalDog.jpg" alt="img">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Projects Section -->

  <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="./img/fundoDoguinho.png" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">Sobre <span>nós</span></h1>
        <h2>A IANIMALS oferece serviços e produtos para pets  </h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, velit alias eius non illum beatae atque
          repellat ratione qui veritatis repudiandae adipisci maiores. At inventore necessitatibus deserunt
          exercitationem cumque earum omnis ipsum rem accusantium quis, quas quia, accusamus provident suscipit magni!
          Expedita sint ad dolore, commodi labore nihil velit earum ducimus nulla quae nostrum fugit aut, deserunt
          reprehenderit libero enim!</p>
        <a href="#" class="cta">Junte-se a nós você também</a>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Informações de <span>Contato</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
          <div class="contact-info">
            <h1>Telefone</h1>
            <h2>(11) 4641-5055</h2>
            <h2>(11) 98142-5377</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>ianimals@gmail.com</h2>
            <h2>grupopetdh@gmail.com</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
          <div class="contact-info">
            <h1>Endereço</h1>
            <h2>R. Apiacás, 85 - Perdizes, São Paulo - SP, 05017-202</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Footer -->
  <footer>
    <div class="main-content">
        <div class="left box">
            <h2>Nossas redes sociais</h2>
            <div class="content">
                <p class="style-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et fermentum nibh, in elementum quam. </p>
                <div class="social">
                    <a href="#"><span class="fab fa-facebook"></span></a>
                    <a href="#"><span class="fab fa-twitter"></span></a>
                    <a href="#"><span class="fab fa-instagram"></span></a>
                    <a href="#"><span class="fab fa-youtube"></span></a>
                </div>
            </div>
        </div>

        <div class="center box">
            <h2>Contato</h2>
            <div class="content">
                <div class="place">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="text">Paulista, São Paulo</span>
                </div>
                <div class="phone">
                    <span class="fas fa-phone-alt"></span>
                    <span class="text">(11) 4641-5055</span>
                </div>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text">ipets@gmail.com</span>
                </div>
            </div>
        </div>
        <div class="rigth box">
            <h2>Nosso Whatsapp</h2>
            <div class="content">
                <h2>ENTRE EM CONTATO COM A GENTE ATRAVÉS DO NOSSO WHATSAPP</h2>
                <div class="btn">
                   <a href="https://api.whatsapp.com/send?phone=5511981425377&text=Ol%C3%A1%2C%20gostaria%20de%20saber%20sobre%20os%20servi%C3%A7os%20e%20produtos!" target="_blank">WHATSAPP</a>
                </div>
            </div>
       </div>
    </div>
    <div class="bottom">
        <center>
            <span class="credit">Created by <a href="#">IANIMALS</a> | </span> 
            <span class="far fa-copyright"></span><span> 2022 Todos os direitos reservados.</span>
        </center>
    </div>
</footer>
  <!-- End Footer -->
  <script src="../javascripts/home.js"></script>
</body>

</html>