<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../stylesheets/styleLogin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <img src="../img/login-form.png" alt="">
    <div id="login-contanier">
        <h2>Iniciar Sessão em sua Conta <h2 class="estilizar-color">PetsClub</h2></h2>
        <br>
        <p>É novo por aqui? <a href="../cadastro/cadastro.html" class="modificar-registrar">Registre-se</a></p>  
        <form action="">
            <input type="email" name="email" id="email" placeholder="Digite o seu email">
            <input type="password" name="password" id="password" placeholder="Digite a sua senha">
            <input type="submit" value="Login">
        </form>
        <div id="lembrar">
            <input type="checkbox" name="check" id="check">
            <label for="checkbox" id="lem">Lembrar minha senha</label>
        </div>
        <div id="register-container">
            <a href="../esqueciSenha/esqueciSenha.html">Esqueci minha senha</a>
            <br>
            <a href="../index.html">Voltar</a>
        </div>
    </div>
</body>
</html>