<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/responsivo.css">
    <link rel="stylesheet" href="../stylesheets/errors.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header container">
            <div class="nav-bar">
              <div class="brand">
                <a href="#hero" style="text-decoration: none;">
                  <h1><span>I</span>ANIMALS</h1>
                </a>
              </div>
              <div class="nav-list">
                <div class="hamburger">
                  <div class="bar"></div>
                </div>
                <ul>
                  <li><a href="#hero" data-after="Home">USUÁRIO</a></li>
                  <li><a href="#services" data-after="Depoimentos">SECRETÁRIO</a></li>
                  <li><a href="#projects" data-after="Serviços">MÉDICO</a></li>
                </ul>
              </div>
            </div>
          </div>
    </header>
    <section class="body-form"> 
        <form action="/products/criar" method="post">
            <% if(typeof(errors) != "undefined"){ %>
                <ul class="errors">
                    <h1 style="color: #FEAD55;">Seguintes erros!</h1>
                    <% errors.forEach((errors) => { %>
                        <li><%= errors.msg %></li>
                    <% }) %>
                </ul>
           <% } %>
            <h1>Conte-nos um pouco sobre você</h1>
            <fieldset class="primeira-div">
                <div class="container"> 
                   <input type="text" name="nome" required autofocus placeholder="Guilherme Nobrega">

                   <label for="nome">Nome Completo</label>
                </div>
                <div class="container">
                    <input type="text" name="user" required autofocus placeholder="User Name">

                    <label>User Name</label>
                </div>
            </fieldset>
            <fieldset class="segunda-div">
                <div class="container">
                    <input type="text" name="cel" required autofocus placeholder="(xx) xxxxx-xxxx">

                    <label for="cel">Telefone</label>
                </div>
                <div class="container">
                    <input type="email" name="email" required autofocus placeholder="name@email.com">

                    <label for="email">Email</label>
                </div>
            </fieldset>
            <fieldset>
                <div class="container">
                    <input type="password" name="senha" placeholder="Digite sua senha">

                    <label for="numero">Senha</label>
                </div>
                <div class="container">
                    <input type="password" name="confirmSenha" placeholder="Confirme sua senha">
                    <label>Confirmação</label>
                </div>
            </fieldset>
            <fieldset>
                <div class="container">
                    <input type="text" name="endereco" id="cep" placeholder="Ex: Rua/Estrada...">

                    <label for="numero">CEP</label>
                </div>
                <div class="container">
                    <input type="text" name="estado" id="estado" placeholder="Ex: Jd Paineira">
                    
                    <label>Estado</label>
                </div>
            </fieldset>
            <fieldset>
                <div class="container">
                    <input type="text" name="endereco" id="endereco" placeholder="Ex: Rua/Estrada...">

                    <label for="numero">Endereço</label>
                </div>
                <div class="container">
                    <input type="text" name="bairro" id="bairro" placeholder="Ex: Jd Paineira">
                    
                    <label>Bairro</label>
                </div>
            </fieldset>
            <fieldset>
                <div class="container">
                    <input type="number" name="numero" id="numero" placeholder="Numero da Residencia">

                    <label for="numero">Número</label>
                </div>
                <div class="container">
                    <input type="text" name="cidade" id="cidade" placeholder="Cidade">

                    <label>Cidade</label>
                </div>
            </fieldset>
            <h1>Conte-nos um pouco sobre você</h1>
            <fieldset class="primeira-div">
                <div class="container"> 
                   <input type="text" name="nome" required autofocus placeholder="Ex: Leo Messi">

                   <label for="nome">Nome do Pet</label>
                </div>
                <div class="container">
                    <input type="text" name="sobrenome" required autofocus placeholder="Ex: Chow-Chow">

                    <label>Raça</label>
                </div>
            </fieldset>
            <fieldset class="segunda-div">
                <div class="container">
                    <input type="text" name="especie" required autofocus placeholder="Ex: Cão, Gato">

                    <label for="cel">Espécie</label>
                </div>
                <div class="container">
                    <input type="date" max="2022-12-31" name="niver" style="width: calc(100% - -22px)" required autofocus placeholder="ola td bem">

                    <label for="email">Aniversário do Pet</label>
                </div>
            </fieldset>
            <fieldset style="margin-left: 30px;">
                <div class="container">
                    <select name="" id="">
                        <option value="">Selecionar</option>
                        <option value="">Macho</option>
                        <option value="">Fêmea</option>
                    </select>

                    <label>Gênero</label>
                </div>
                <div class="container">
                    <select name="" id="">
                        <option value="">Selecionar</option>
                        <option value="">Sim</option>
                        <option value="">Não</option>
                    </select>

                    <label>Castrado (a)</label>
                </div>
                <div class="container">
                    <select name="" id="">
                        <option value="">Selecionar</option>
                        <option value="">1-2kg</option>
                        <option value="">2-4kg</option>
                        <option value="">4-6kg</option>
                        <option value="">Mais que 8kg</option>
                    </select>

                    <label>Peso</label>
                </div>
            </fieldset>
            <h1>Arquive uma foto do seu pet!</h1>
            <fieldset class="primeira-div">
                <div class="container"> 
                   <input type="file" name="nome" style="height: 50px; margin-left: 30px;" required autofocus placeholder="Ex: Leo Messi">
                </div>
            </fieldset>
            <fieldset class="div-check">
                <div id="check">
                    <input type="checkbox" name="accept" required>
                    <label>Aceitar os termos de uso</label>
                </div>
                <button type="submit">Avançar</button>
            </fieldset>
            <a href="#" class="link">Ler os termos de uso</a>
        </form>
    </section>
    <script src="../javascripts/cadastroCep.js"></script>
</body>
</html>