<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/sobrePet.css">
    <link rel="stylesheet" href="../stylesheets/errors.css">
    <title>Document</title>
</head>
<body>

    <div id="parallelogram">
        <ul>
            <li><a href="#">Perfil</a></li>
            <li><a href="#">Mostre nos o seu pet</a></li>
            <li><a href="#">Sobre seu Pet</a></li>
            <li><a href="#">Confirmação</a></li>
        </ul>
        <img src="../img/dog-register.png" alt="">
    </div>


    <section class=""> 
        <form action="" method="post">
            <% if(typeof(errors) != "undefined"){ %>
                <ul class="errors">
                    <% errors.forEach((errors) => { %>
                        <li><%= errors.msg %></li>
                    <% }) %>
                </ul>
           <% } %>
            <h1>Conte-nos mais sobre o pet</h1>
            <fieldset class="primeira-div">
                <div class="container"> 
                   <input type="text" name="nome" required autofocus placeholder="Ex: Leo Messi">

                   <label for="nome">Nome do Pet</label>
                </div>
                <div class="container">
                    <input type="text" name="sobrenome" required autofocus placeholder="Ex: Chow-Chow">

                    <label>Raça</label>
                </div>
            </fieldset>
            <fieldset class="segunda-div">
                <div class="container">
                    <input type="text" name="especie" required autofocus placeholder="Ex: Cão, Gato">

                    <label for="cel">Espécie</label>
                </div>
                <div class="container">
                    <input type="date" max="2022-12-31" name="niver" required autofocus placeholder="ola td bem">

                    <label for="email">Aniversário do Pet</label>
                </div>
            </fieldset>
            <fieldset>
                <div class="container">
                    <select name="" id="">
                        <option value="">Selecionar</option>
                        <option value="">Macho</option>
                        <option value="">Fêmea</option>
                    </select>

                    <label>Gênero</label>
                </div>
                <div class="container">
                    <select name="" id="">
                        <option value="">Selecionar</option>
                        <option value="">Sim</option>
                        <option value="">Não</option>
                    </select>

                    <label>Castrado (a)</label>
                </div>
                <div class="container">
                    <select name="" id="">
                        <option value="">Selecionar</option>
                        <option value="">1-2kg</option>
                        <option value="">2-4kg</option>
                        <option value="">4-6kg</option>
                        <option value="">Mais que 8kg</option>
                    </select>

                    <label>Peso</label>
                </div>
            </fieldset>
            <fieldset class="div-check">
                <button class="button-voltar">Voltar</button>
                <button type="submit">Avançar</button>
            </fieldset>
        </form>
    </section>
</body>
</html>