<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/telaFoto.css">
    <title>Document</title>
</head>
<body>

    <div id="parallelogram">
        <ul>
            <li><a href="#">Perfil</a></li>
            <li><a href="#">Mostre nos o seu pet</a></li>
            <li><a href="#">Sobre seu Pet</a></li>
            <li><a href="#">Confirmação</a></li>
        </ul>
        <img src="../img/dog-register.png" alt="">
    </div>


    <section class=""> 
        <form action="" method="post">
            <h1>Nos mostre o seu pet! </h1>
            <h2>Selecione uma foto de boa qualidade do seu pet e que de para ve-lo como um todo!</h2>
            <fieldset class="primeira-div">
                <div class="container"> 
                   <input type="file" name="nome" required autofocus placeholder="Ex: Leo Messi">

                   <label for="nome">Foto do rosto</label>
                </div>
                <div class="container"> 
                    <input type="file" name="nome" required autofocus placeholder="Ex: Leo Messi">
 
                    <label for="nome">Foto do corpo</label>
                 </div>
            </fieldset>
            <fieldset class="div-check">
                <button class="button-voltar">Voltar</button>
                <button type="submit">Avançar</button>
            </fieldset>
        </form>
    </section>
</body>
</html>