body {
    padding: 0;
    margin: 0;
  }
  
  * {
    font-family: 'Nunito';
  }
  
  header {
    width: 100%;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
  }
  
  .opcoes-header {
    padding-top: 35px;
    padding-right: 40px;
  }
  
  .opcoes-header a:hover {
    color: #403b94
  }
  
  .opcoes-header a {
    padding-left: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 24px;
    text-decoration: none;
    color: #000;
  }
  
  .registro-header {
    display: flex;
    padding-top: 35px;
    padding-right: 40px;
  }
  
  .registro-header a {
    width: 100%;
    height: 30px;
    border-color: black;
    border: solid;
    padding-right: 20px;
    border-radius: 50px;
    padding-top: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 24px;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  .registro-header img {
    padding-left: 20px;
  }
  
  
  
  
  .geral {
    display: flex;
    padding: 100px;
  }
  
  .botao  {
    padding-top: 20px;
    display: flex;
  }
  
  .nossos-servicos {
    padding-right: 20px;
  }
  
  .nossos-servicos h2 {
    background-color: #6C63FF;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 60px;
      color: #fff;
  }
  
  .nossos-servicos h2:hover {
    background-color: #403b94;
    transition: .6s;
  }
  
  .saiba-mais h2 {
    color: black;
    padding-top: 10px;
  }
  
  .botao a {
    text-decoration: none;
  }
  
  .lado-esquerdo {
    width: 60%;
  }
  
  .lado-direito {
    width: 40%;
  }
  
  
  .lado-esquerdo h1 {
    font-size: 58px;
  }
  
  .banner {
    text-align: center;
    background-color: #D3D1FF;
    height: 400px;
  }
  
  .banner h1 {
    padding: 200px;
    font-size: 50px;
  }
  
  
  .parte-texto {
    padding-left: 100px;
  }
  
  .parte-texto h2 {
    color: #C3C3C3;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
  }
  
  .parte-texto h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 9px;
  }
  
  .parte-texto h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
  }
  
  
  .parte-divisoes {
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
    margin-bottom: 60px;
  }
  
  
  
  .parte-divisoes div {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 2px #C3C3C3;
    margin: 10px;
    padding: 20px;
    width: 300px;
  }
  
  .parte-divisoes div:hover {
    background-color: #6C63FF;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .section-baixo {
    text-align: center;
    height: 400px;
    margin-bottom: 80px;
  }
  
  .section-baixo h1 {
    background-color: #7FAFF2;
    padding: 200px;
    font-size: 50px;
  }
  
  #testmony-container {
      background: url('./img/banner3.png') no-repeat;
      background-size: cover;
      padding: 10em 0;
  }
  
  #testmony-container h2, #testmony-container p {
      color: rgb(0, 0, 0);
      text-align: center;
    font-weight: bolder;
  }
  
  #testmony-container h2 {
      font-size: 36px;
      margin-bottom: 50px;
  }
  
  #testmony-container p {
      margin-bottom: 50px;
  }
  
  .testmony-box {
      display: inline-block;
      width: 24.5%;
      text-align: center;
  }
  
  #testmony-container .testmony-box .testmony-msg {
      background-color: #FFF;
      color: #666;
    font-weight: bolder;
      border-radius: 10px;
      padding: 20px;
      width: 50%;
      position: relative;
      margin: 35px auto;
      font-style: italic;
  }
  
  #testmony-container:hover .testmony-box:hover .testmony-msg:hover {
    color: #6C63FF;
  }
  
  .testmony-msg:after {
      content: "";
      width: 0; 
      height: 0; 
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #FFF;
      position: absolute;
      bottom: -20px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
  }
  
  .testmony-msg:hover {
    cursor: pointer;
  } 
  
  
  .testmony-box img {
      width: 100px;
      height: 100px;
      border: 1px solid #CCC;
      border-radius: 50%;
  }
  
  .testmony-name {
      font-weight: bold;
  }
  
  
  .segundo-footer li {
    outline: none;
  }
  
  .divisoes-footer {
    display: flex;
    margin-left: 30px;
    margin-top: 60px;
  }
  
  .divisoes-footer h3 {
    text-align: center;
    color: #6C63FF;
  }
  
  .segundo-footer a {
    display: flex;
    flex-direction: column;
    margin-left: 65px;
    color: #000;
    font-weight: bolder;
    text-decoration: none;
  }
  
  .segundo-footer a:hover {
    color: #6C63FF;
  }
  
  .segundo-footer nav {
    padding-left: 39px;
  }
  
  .terceiro-footer a {
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    text-decoration: none;
    color: #000;
    font-weight: bolder;
  }
  
  .terceiro-footer nav {
    padding-left: 39px;
  }
  
  .terceiro-footer a:hover {
    color: #6C63FF;
    border-bottom: 2px #000;
  }
  
  .quarto-footer {
    display: flex;
    flex-direction: column;
    margin-left: 75px; 
  }
  
  .quarto-footer input {
    border: none;
    padding: 5px;
  }
  
  .quarto-footer input:hover {
    border-radius: 2px #6C63ff;
  }
  
  .quarto-footer label {
    font-weight: bolder;
  }
  
  .quarto-footer button {
    border-radius: 20px;
    color: #fff;
    background-color: #6C63FF;
    width: 200px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bolder;
  }
  
  .divisoes-footer div {
    background-color: #EBEBEB;
    box-shadow: 2px 2px 2px 2px #C3C3C3;
    margin: 10px;
    padding: 20px;
    width: 300px;
  }
  
  .redes-sociais {
    padding-top: 20px;
    margin-right: 20px;
  }
  
  .redes-sociais img {
    padding-right: 50px;
  }
  
  
  