@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(13deg, #71b7e6, #9b59b6);
}

div#parallelogram {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 55px 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
    max-width: 70vw;;
    list-style: none;
}

div#parallelogram img {
    padding: 3vw;
    margin-left: auto;
}

div#parallelogram li {
    list-style: none;
    font-weight: 800;
}

div#parallelogram li:focus {
    color: #6C63FF;
}

div#parallelogram ul{
    text-align: center;
    padding-top: 90px;
}

div#parallelogram li {
    padding-top: 40px;
}

div#parallelogram a {
    text-decoration: none;
    cursor: pointer;
}

div#parallelogram a:focus {
    color: #6C63FF;
    font-weight: 800;
}



section h1 {
    padding: 40px 10px;
    text-align: center;
    color: #fff;
}

fieldset {
    border: none;
    display: flex;
    padding: 10px;
}


.container input::placeholder {
    font-size: 15px;
}

.container input {
    margin: 10px 10px;
    width: calc(100% - 20px);
    height: 30px;
    border: none;
    background-color: #ffffff;
    border-radius: 4px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    padding: 4px 4px 6px 10px;
}

.container select {
    margin: 10px 10px;
    width: calc(100% - 20px);
    height: 30px;
    border: none;
    background-color: #ffffff;
    border-radius: 4px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    padding: 4px 4px 6px 10px;
}

.container {
    position: relative;
}

.container label {
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    position: absolute;
    line-height: 27px;
    bottom: 37px;
    left: 20px;
    user-select: none;
    pointer-events: none;
    transition: 0.5s;
}

#check {
    width: 50%;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
}

#check input {
    width: 25px;
    height: 25px;
    margin: auto 0;
}

#check label {
    margin: auto 10px;
    color: #fff;
    transition: 0.5s;
}

#check input:checked ~ label,
#check input:valid ~ label {
    color: #111;
    font-weight: 800;
}

button {
    margin: 40px 0px;
    margin-left: 10px;
    width: calc(50% - 10px);
    height: 70px;
    background: #FEAD55;
    color: #fff;
    font-weight: 800;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s linear;
}

.button-voltar {
    background: #D3D1FF;
    color: #111;
    font-weight: 800;
}


@media only screen  and ( max-width: 1080px) {
    div#parallelogram {
        height: 690px;
    }
}

@media only screen and (max-width: 510px) {
    div#parallelogram {
        display: none;
    }
    
    section {
        min-width: 95vw;
    }

    form {
        width: 100%;
    }

    fieldset {
        flex-direction: column;
    }

    div#check {
        width: 100%;
    }

    button {
        width: 100%;
        margin-left: 0;
    }

    .button-voltar {
        width: 100%;
        margin-left: 0;
    }
}